<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Learn Vue</title>
    <style>
        .box {
            padding:100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>Hello world</h2>
    
    <div id="app">

        <!-- attribute binding -->
        <a v-bind:href="url">best websites ever</a>
        <br>
        <!-- shortcut -->
        <a :href="url">best websites ever</a>

        <div v-if="showBooks">
            <div>
                <ul>
                    <li v-for="item in books">
                        <!-- img-link -->
                        <img :src="item.img" :alt="item.title">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.author }}</p>
                    </li>
                </ul>
            </div>
        </div>
        
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

    </div>

    <script src="app.js"> </script>
</body>
</html>